a {
	text-decoration: none;
}

.row_one {
	background: #ebe0c2;
	height: 864px;
	margin-bottom: 0px;
}

.header {
	height: 240px;
	font-family: 'Amatic SC', cursive;
	font-size: 288px;
	font-weight: 100;
	letter-spacing: -25px;
	line-height: 240px;
	background: #ffffff;
	color: #07075f;
	margin-top: 288px;
}

.row_two {
	height: 1008px;
	background: #fff7d8;
	margin-bottom: 0px;
}

.hello {
	font-family: 'Amatic SC', cursive;
	font-size: 336px;
	font-weight: 100;
	letter-spacing: -35px;
	line-height: 240px;
	margin-top: 192px;
	color: #07075f;
}

.text {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 24px;
	font-variant: small-caps;
	text-align: justify;
	text-indent: 50px;
	line-height: 36px;
	padding:132px;
	color: #07075f;
}

.row_three {
	height: 1008px;
	background: #dfdfdf;
}

.paper {
	line-height: 100px;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	color: #07075f;
	word-wrap: break-word;width:1px;
	margin-top: 130px;
}

hr {
	float:right;
	color: #07075f;
}

.row_four {
	height: 1008px;
	background: #dfdfdf;
}

.ideas {
	line-height: 100px;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	color: #07075f;
	word-wrap: break-word;width:1px;
	margin-top: 150px;
}

.row_pic {
	padding:100px;
}

.pic {
	font-size: 20px;
	font-weight: 100;
	background: #ffffff;
}

.row_five{
	height: 288px;
	background: #cacaca;
	padding-top: 31px;
	margin-bottom: 72px;
	margin-top: 48px;
}

.col-5-6 {
	width: 83.33%;
	float: right;
	padding-top: 300px;
}

body {
	text-align: center;
}

.contact {
	font-family: 'Amatic SC';
	font-size: 200px;
	font-weight: 100;
	word-spacing: -25px;
	letter-spacing: -5px;
	float: right;
	padding-right: 30px;
	color: #07075f;
}