* {
	box-sizing: border-box;
	text-align: center;
}

header .row {
	margin-top: 100px;
}



.row_one {
	height: 400px;
	background: #ececec;
	border:solid blue;
}

.row_two {
	height: 400px;
	background: #ececec;
	border: solid blue;
}

.row_three {
	height: 400px;
	background: #ececec;
	border: solid blue;
}

.col-5-6 {
	width: 83.33%;
	border:solid red;
}